* {
  box-sizing: border-box;
}
main {
  width: 100%;
}

body {
  font-family: Helvetica, Arial,
    'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #a6a864;
  background-color: #241919;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
  position: inherit;
  top: inherit;
  text-decoration: none;
}

nav > a {
  padding-right: 20px;
  font-family: 'Courier New', Courier,
    monospace;
  font-weight: 200;
  font-size: 16px;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-color: #a59521;
  background: linear-gradient(
    to bottom right,
    #b65757 1%,
    10%,
    #a59521 95%
  );
  color: #260000;
}

header {
  padding: 12% 0;
  margin: 95px 1.5rem 0 2rem;
}

.arrowLeft,
.arrowRight {
  z-index: 2;
  position: absolute;
  align-self: center;
  font-size: 8rem;
  color: #a6a864a3;
  background: none;
  border: none;
}
.arrowLeft {
  left: 4vw;
}
.arrowRight {
  right: 4vw;
}

/* .tilt1 {
  transform: rotate(1deg);
}

.tilt2 {
  transform: rotate(-0.5deg);
}

.tilt3 {
  transform: rotate(0.5deg);
}

.tilt4 {
  transform: rotate(-0.5deg);
} */

.button {
  padding: 0.5rem 2rem;
  border: currentColor 1px solid;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #a59521;
  color: #241919;
}

h1 .breakflex {
  display: inline-flex;
  text-align: left;
  font-size: 3rem;
}

h1 {
  text-align: left;
  font-size: 2.95rem;
}

h2.hero-sub {
  margin-left: 30%;
  text-align: left;
}

/* section#portfolio, */
section#bio {
  padding: 100px 0 90px 0;
  margin: 0 1.5rem 0 2rem;
}

p {
  text-align: left;
  padding: 30px 0 0 0;
}

::selection {
  background-color: #b65757;
  color: #b88606;
}

.contact {
  /* margin-left: -13%; */
}

div.logo {
  border: 7px solid #b88606;
  text-align: center;
  color: #b88606;
  width: 100px;
  height: 100px;
  font-size: 23px;
  letter-spacing: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.logo span {
  display: inline-b;
}

.photobox > img {
  /* min-width: 300px; */
  width: 90vw;
  height: auto;
  margin-right: 45px;
  scroll-snap-align: start;
}

.project > p {
  padding: 4vw;
}

.photobox {
  scroll-snap-type: x mandatory;
  height: max-content;
  min-width: 300px;
  margin-left: 5vw;
  width: 90vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.repo,
.demo {
  text-align: center;
}

.icons {
  font-size: 40px;
}

footer {
  background: inherit;
}
@media (min-width: 700px) {
  body {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
  }
  /* section#portfolio, */
  section#bio {
    padding: 180px 0 170px 0;
    margin: 0 4rem 0 6rem;
  }
  nav > a {
    font-size: 1.8rem;
  }
  address {
    padding: 100px 0 200px 0;
  }
}

@media (min-width: 1100px) {
  .photobox > img {
    width: 45vw;
    max-width: 800px;
  }
}
