nav > a {
  padding-right: 20px;
  font-family: 'Courier New', Courier,
    monospace;
  font-weight: 200;
  font-size: 16px;
}

nav {
  z-index: 3;
  height: 10vh;
  position: sticky;
  /* top: calc(100vh - 4rem); */
  top: 90vh;
  width: 100%;
  background-color: #a59521;
  background: linear-gradient(
    to bottom right,
    #b65757 1%,
    10%,
    #a59521 95%
  );
  color: #260000;
}
nav > ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 10vh;
  align-content: baseline;
  align-items: baseline;
  justify-content: space-evenly;
}

.nav-item {
  display: flex;
  padding-top: 0.2vh;
}

.nav-link > svg {
  font-size: 1.6rem;
  width: 2rem;
  flex-shrink: 0;
}

.nav-link {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-items: center;
  height: 9vh;
}
.nav-link {
  flex-direction: column;
}

@media (min-width: 768px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-link > svg {
    width: 5vh;
    flex-shrink: 0;
  }
  .link-text {
    font-size: 2vh;
  }
}

/* @media (min-width: 1100px) { */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  .link-text {
    display: none;
    opacity: 0;
    padding-left: 1rem;
    transition-property: opacity;
    transition-duration: 220ms;
    transition-delay: 1s;
    transition-timing-function: ease-out;
    /* overflow: clip; */
    /* height: min-content;
  width: 0; */
  }
  .nav-link {
    flex-direction: row;
  }

  section#portfolio {
    margin-left: 5rem;
  }
  .nav-link > svg {
    font-size: 1.6rem;
    width: 2rem;
    flex-shrink: 0;
  }
  .nav-item {
    padding-left: 1.5rem;
    align-content: center;
    justify-content: flex-start;
  }
  .navbar:hover {
    /* transition: var(--transition-speed); */
    width: 10rem;
  }

  .navbar:hover .link-text {
    opacity: 1;
    /* width: max-content; */
    display: block;
  }
  .navbar:hover .nav-item {
  }

  nav {
    padding-bottom: 2px;
    display: block;
  }

  nav {
    margin: 0;
    /* flex-wrap: nowrap; */
    align-items: center;
    height: 100vh;
    width: 5rem;

    transition: width
      var(--transition-speed) ease;
    /* max-width: 100px; */
    position: fixed;
    top: 0px;
    left: 0px;
  }

  nav > ul {
    align-items: baseline;
    align-content: flex-start;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
